:root {
  --cell-height: 200px;
  --cell-width: 120px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
}

#board {
  margin: auto;
  max-width: 400px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 1em;
  margin-bottom: 2em;
}

#board .cell {
  /* flex: 1 0 30%; */
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid black;
  border-radius: 5px;
}

#player-one-hand,
#player-two-hand {
  margin: auto;
  width: 30%;
  height: 100%;
  border: 1px solid #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 1em;
}

#player-one-hand.hidden,
#player-two-hand.hidden {
  visibility: hidden;
}

#player-one-hand .card,
.cell.one .card {
  border: 1px solid blue;
}

#player-two-hand .card,
.cell.two .card {
  border: 1px solid red;
}

.card {
  box-sizing: border-box;
  /* flex: 0 0 30%; */
  width: var(--cell-width);
  height: var(--cell-height);
  padding: 0.5em;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  margin: 0.5em 0;
}

.card__name {
  text-align: center;
}

.card__rank {
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__rank span {
  font-size: 0.8em;
}

.card__power {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 50%;
  font-weight: 700;
}
.card__power .top {
  grid-column: 2 /3;
  grid-row: 1 /2;
}
.card__power .right {
  grid-column: 3/ 4;
  grid-row: 2/3;
}
.card__power .bottom {
  grid-column: 2 / 3;
  grid-row: 3/4;
}
.card__power .left {
  grid-column: 1 /2;
  grid-row: 2/3;
}
