:root {
  --cell-height: 150px;
  --cell-width: 90px;
  --blue: rgb(58, 91, 122);
  --red: rgb(123, 59, 59);
}

body {
  width: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}

header {
  min-height: 125px;
}

#player-turn.one {
  color: var(--blue);
}

#player-turn.two {
  color: var(--red);
}

#start-button {
  border-radius: 8px;
  border-width: 0;
  background: rgb(95, 67, 105);
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  grid-gap: 1em;
}

#board {
  display: grid;
  width: 100%;
  max-width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  border: 5px solid #f2f2f2;
  border-style: groove;
  border-radius: 2%;
  overflow: hidden;
}

#board .cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  border: 0.5px solid #d9d9d9;
  transition: background 0.3s;
}

#board .cell:nth-child(odd) {
  background: #f1f1f1;
}

#board .cell:nth-child(even) {
  background: #d9d9d9;
}

#board .cell.one {
  background: rgba(58, 91, 122, 0.45);
}

#board .cell.two {
  background: rgba(123, 59, 59, 0.45);
}

#player-one-hand,
#player-two-hand {
  margin: auto;
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 1em;
}

#player-one-hand .card,
.cell.one .card {
  background: var(--blue);
}

#player-two-hand .card,
.cell.two .card {
  background: var(--red);
}

.card {
  box-sizing: border-box;
  width: var(--cell-width);
  height: var(--cell-height);
  border: 4px inset #fcba03;
  padding: 0.5em;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card p {
  margin: 0.5em 0;
  color: #ffffff;
}

.card__name {
  text-align: center;
  font-size: 0.9em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.card__rank {
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__rank span {
  font-size: 0.6em;
}

.card__power {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 70%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.card__power .top {
  grid-column: 2 /3;
  grid-row: 1 /2;
}
.card__power .right {
  grid-column: 3/ 4;
  grid-row: 2/3;
}
.card__power .bottom {
  grid-column: 2 / 3;
  grid-row: 3/4;
}
.card__power .left {
  grid-column: 1 /2;
  grid-row: 2/3;
}

#player-one-hand.hidden,
#player-two-hand.hidden {
  visibility: hidden;
  /* height: 1px; */
}

#start-button.hidden {
  display: none;
}

@media (max-width: 1030px) {
  .container {
    flex-direction: column;
    align-items: center;
    grid-gap: 2em;
  }

  #player-one-hand,
  #player-two-hand {
    width: 100%;
    order: 0;
  }

  #board {
    order: 1;
  }
}
